<div class="jumbotron">
    <h1>Badminton Queue Manager</h1>
    <p class="lead">Badminton Queue Manager is a free web framework for maintainig the player's queue in different clubs in different locations. </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Manage Clubs</h2>
        <p>This section allows you to add a new Club and to manage the existing Clubs. </p>
        <p><a class="btn btn-default" href="~/Clubs">Start here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Players</h2>
        <p>This section allows you to add a new Badminton Player and to manage the existing Players. </p>
        <p><a class="btn btn-default" href="~/Players">Start here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Queue Management</h2>
        <p>You can easily get into a Badminton Club by adding yourself to the queue. </p>
        <p><a class="btn btn-default" href="~/Queues">Start here &raquo;</a></p>
    </div>
</div>
